.btn{
	padding: 10px 15px;
	margin-top: 20px !important;
	color:#04a7af;
	text-transform: uppercase;
	transition: 0.7s;
	letter-spacing: 3px;
	margin: 20px;
	background-color: white;
	border: 1px solid #04a7af;
	font-weight: 600;
}
.btn:hover{
	background-color: #04a7af;
	color:#050801;
	box-shadow: 0 0 5px #04a7af,
				0 0 10px #04a7af,
				0 0 20px #04a7af,
				0 0 50px #04a7af;
}
